body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.resized-image {
    width: 10%;
    max-width: 108px; /* Defina o tamanho máximo desejado para as imagens */
    height: 10%;
    max-height: 108px;
    display: block;
    margin: 0 auto;
}

.dice-container {
    display: flex;
    flex-direction: row; /* Alinhar horizontalmente */
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.dice {
    padding: 10px 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.dice-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza grupos */
    flex-direction: row; /* Organiza os grupos horizontalmente */
}

.dice-group {
    text-align: center;
    margin-bottom: 20px;
}

    .dice.d4 {
        background-image: url('Data/d4.png');
        text-indent: -9999px;
    }
    .dice.d6 {
        background-image: url('Data/d6.png');
        text-indent: -9999px;
    }
    .dice.d8 {
        background-image: url('Data/d8.png');
        text-indent: -9999px;
    }
    .dice.d10 {
        background-image: url('Data/d10.png');
        text-indent: -9999px;
    }
    .dice.d12 {
        background-image: url('Data/d12.png');
        text-indent: -9999px;
    }
    .dice.d20 {
        background-image: url('Data/d20.png');
        text-indent: -9999px;
    }
    .dice.d100 {
        background-image: url('Data/d100.png');
        text-indent: -9999px;
    }



.result {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

/* Pré-carregar as imagens */
.dice-group .resized-image {
    background-image: none !important; /* Remove a imagem de fundo temporariamente */
}

    .dice-group .resized-image:after {
        content: "";
        background-image: url('Data/d4.png'); /* Substitua pelo caminho correto para cada imagem */
        display: none;
    }
