:root {
    --color-smoky-black: #2d2d30;
    --color-light-black: #1F1F1F;
    --color-black: #0a0a0a;
    --color-dark-gray: rgba(255, 255, 255, 0.15);
    --color-white: #fff;
    --color-gray: rgba(255, 255, 255, .1);
    --color-off-white: rgba(255, 255, 255, .6);
    --color-red: #d9534f;
    --color-green: #3d8b40;
    --color-blue: #007acc;
}
/* Estilos para dispositivos móveis */
@media (max-width: 1080px) {

    /* Adicione os estilos desejados aqui */
    .dice-container.middle {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        flex: 1;
    }

ul {
  list-style: none;
}

body {
    font-size: 20px;
}
}

*{
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-color: #2d2d30;
    opacity: 0; /* Inicialmente, o corpo da página é transparente */
}

    body.loaded {
        opacity: 1; /* Quando a classe "loaded" é adicionada ao corpo, a opacidade é 1 (totalmente visível) */
        animation: FadeIn .8s;
    }

.resized-image {
    max-width: 100%; /* Limita as imagens à largura da tela */
    height: auto; /* Mantém a proporção original das imagens */
    display: block;
    -webkit-user-drag: none;
    user-select: none;
}
ul {
    list-style: none;
  }


.dice-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cria colunas flexíveis */
    justify-items: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaçamento entre os itens */
    margin: 50px;
    animation: FadeIn 1s;
    transition: opacity 0.5s ease-in-out;

}

.dice {
    padding: 5px 5px;
    margin: auto;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: transparent;
    border-radius: 180px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease; /* Transiçao suave ao zoom */
}

    .dice:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombreamento suave */
        transform: scale(1.2); /* Nivel de zoom */
    }


/* Ajuste o espaço entre as imagens e os botões */
.dice-group {
    margin: 10px; /* Espaçamento entre os grupos */
}

.dice.d4 {
    background-image: url('Data/d4.png'); /* Imagem individual de cada dado */
    text-indent: -9999px;
}

.dice.d6 {
    background-image: url('Data/d6.png');
    text-indent: -9999px;
}

.dice.d8 {
    background-image: url('Data/d8.png');
    text-indent: -9999px;
}

.dice.d10 {
    background-image: url('Data/d10.png');
    text-indent: -9999px;
}

.dice.d12 {
    background-image: url('Data/d12.png');
    text-indent: -9999px;
}

.dice.d20 {
    background-image: url('Data/d20.png');
    text-indent: -9999px;
}

.dice.d100 {
    background-image: url('Data/d100.png');
    text-indent: -9999px;
}

/* Skin do botao de clear */
.clear-button {
    display: none; /* Oculta o botão inicialmente */
    background-color: transparent;
    border: none;
    color: #6e6e6e;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1000px;
    margin-left: 5px;
    font-size: 15px;
    padding: 0 3px;
    vertical-align: middle;
}

    .clear-button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
/* Resultado dos dados de cima */
.result {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    display: none;
}

/* Resultado da barra de status */
.result-text {
    text-align: center;
    font-size: 20px;
    transition: content 1s;
}

.result p {
    display: inline-block;
}

.red {
    color: red;
    font-style: bold;
}

/* Pré-carregar as imagens */
.dice-group .resized-image {
    background-image: none !important; /* Remove a imagem de fundo temporariamente */
}

    .dice-group .resized-image:after {
        content: "";
        display: none;
    }

/* Skin da barra de input */
input[id="d100Input"] {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 1000px;
    font-size: 15px;
    margin: 5px;
    width: 150px;
    text-align: center;
}

    /* Skin da barra de input quando o mouse passa por cima */
    input[type="number"]:hover {
        border-color: var(--color-blue);
        box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
    }

    /* Skin da barra de input quando esta focada */
    input[type="number"]:focus {
        outline: none;
        border-color: var(--color-blue);
        box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
    }

.input-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
    align-items: center;
    height: 11vh; /* Define a altura da area visivel da pagina */
    margin-top: 80px;
}


    .input-container label, .input-container input, .input-container button {
        margin-bottom: 10px;
    }


/* Skin do botao "Roll d100" */
.roll-button {
    padding: 8px 10px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    margin: 5px;
}

    .roll-button:hover {
        background-color: #0069b0;
    }

button.roll-button:hover {
    box-shadow: 0px 0px 15px rgba(52, 152, 219, 0.5); /* Sombra quando o mouse passa por cima */
}

/* Skin do "Status aqui:" */
.insert-stats {
    font-size: 24px;
}


/* Botão d100 da tabela */
.roll-table {
    padding: 4px 8px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    margin: 3px;
}
    .roll-table:hover {
    background-color: #0069b0;
    }

    button.roll-table:hover {
    box-shadow: 0px 0px 15px rgba(52, 152, 219, 0.5); /* Sombra quando o mouse passa por cima */
    }



/* Skin da barra de input, para a tabela é outra coisa */
input[class="d100Table"] {
    vertical-align: center;
    border: 2px solid #3b3b3b;
    border-radius: 4px;
    font-size: 15px;
    width: 4vh;
    padding: 5px;
}

    /* Skin da barra de input quando o mouse passa por cima */
    input[class="d100Table"]:hover {
        border-color: var(--color-blue);
        box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
    }

    /* Skin da barra de input quando esta focada */
    input[class="d100Table"]:focus {
        outline: none;
        border-color: var(--color-blue);
        box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
    }

    .black-bg {
        color: transparent;
        background-color: rgb(58, 58, 58);
        vertical-align: 3px;
        border-radius: 4px;
        width: 4vh;
        padding: 5px;
        pointer-events: none;
    }

    .black-bg::-webkit-outer-spin-button, 
    .black-bg::-webkit-inner-spin-button {
        appearance: none !important;
    }


    /* .d100Table2 input[type="number"]::-webkit-inner-spin-button,
.d100Table2 input[type="number"]::-webkit-outer-spin-button {
    margin-right: -2px;
} */



/* .clearTable {
    padding: 4px 120px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    margin-right: 8.7rem;
    margin-left: -8.2rem;
  }
    .clearTable:hover {
    background-color: #3b3b3b;
    }
  
button.clearTable:hover {
    box-shadow: 0px 0px 10px rgba(192, 194, 196, 0.4);
} */





/* .d100Table2 {
    display: flex;
    justify-content: center;
    margin-bottom: initial;
    margin-top: 10.5vw;
    max-height: 27rem;
}

.d100Table2 input[type="number"] {
    padding: 4px;
    margin-top: -8px;

} */

.historico > * {
    margin-top: initial;
    width: 260px;
    font-size: 15px;
    animation: FadeIn .8s;
}
#hist {
    border-bottom: 1px solid rgb(121, 121, 121);   
}
#consoleOutput > * {
    border-top: 1px solid rgb(121, 121, 121);
    animation: FadeIn 1s;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


#toggleButton {
    position: relative;
    top: -5px;
    z-index: 1;
    border: 5px solid transparent;
}

.tabelas {
    display: flex;
    justify-content: center; /* centraliza */
    /* max-height: 27rem;
    overflow: auto; */
}

.d100Tabela, 
.d100Table2,
.historico {
    border: 5px solid transparent;
    width: 17rem;
}
#first {
    height: 477px;
}
#second {
    height: 200px;
}


.icone {
    width: 25px;
    -webkit-user-drag: none;
    vertical-align: bottom;
    margin-bottom: 5px;
    }

.cor-default {
    color: #2cb9af;
    text-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
}
.cor-grandeFalha {
    color: #c20909;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(112, 0, 4, 0.4);
}
.cor-falha {
    color: #f06d31ea;
    font-weight: bold;
}
.cor-pequenaFalha {
    color: #f7c745;
    font-weight: bold;

}
.cor-normal {
    color: #70ccf7;
    font-weight: bold;
}
.cor-bom {
    color: #5073e6;
    font-weight: bold;
}
.cor-extremo {
    color: #8548e7;
    font-weight: bold;
    text-shadow: 0 0 15px rgb(77, 0, 128, 0.4);
}
.cor-triunfo {
    color: rgb(24, 148, 13);
    font-weight: bold;
    text-shadow:0 0 15px rgba(1, 141, 1, 0.7)
}
.cor-desastre {
    color: #680003;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(110, 0, 0, 0.7);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-smoky-black)
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark-gray);
    border-radius: 4px
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
.randomizer-container {
    border: 15px solid #2d2d30;
    border-radius: 8px;
    width: 16.4rem;
    background-color: var(--color-smocky-black);
    outline: 2px solid rgba(255, 255, 255, .25);
    margin-bottom: 50px;
    margin-top: 30px;
    scale: 1.1;
}

.randomizer-input {
    border: 2px solid var(--color-gray);
    border-radius: 8px;
    padding: 2px;
    background-color: var(--color-smocky-black);
    color: white;
    transition: transform 0.25s ease;
    width: 80px;
    margin-right: 10px;
    text-align: center;

}
.randomizer-input:hover{
    transform: scale(1.1);
}
.randomizer-input:focus{
    outline: none;
    border-color: rgba(175, 175, 175, 0.6);
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.randomizer-button {
    border: 2px solid var(--color-gray);
    border-radius: 8px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: var(--color-smocky-black);
    color: white;
    margin-left: 2px;
    transition: transform .25s ease;
}
.randomizer-button:hover {
    transform: scale(1.1);
}

#randomResult {
    color: white;
    margin-top: 10px;

}
.randomNumber-Color {
    color: #2cb9af; 
}


/* ---------------------------------------- */
/* --------------- MACROS ------------------ */
/* ---------------------------------------- */

.rolarBtn {
    margin: 0px 5px;
    padding: 2px;
    padding-left: 2.5px;
    padding-bottom: 2.5px;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    top: 2px;
}

.rolarBtn:hover {
    background-color: darkgray;
}

.delBtn {
    margin: 0px 5px;
    padding: 0px;
    background-color: inherit;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    top: 3.5px;
}
.delBtn:hover {
    background-color: rgb(170, 0, 0);
}

.saveBtn {
    background-color: gray;
    border: none;
    padding: 1px 3px;
    border-radius: 6px;
    position: relative;
    top: 2px;
    margin: 0px -8px;
    transition: transform .25s ease;
}
.saveBtn:hover{
    transform: scale(1.1);
}

.resized {
    position: relative;
    width: 16px;
    height: 16px;
    display: grid;
    align-self: center;
}

.macros {
    color: white;
}
.macro-item, .macro-name {
    font-style: italic;
    color: rgb(170, 170, 170);
  }
    .macro-result {
        font-style: italic;
        color: #2cb9af; 
    }
    .macro-overflow-table {
        max-height: 200px;
        overflow-y: auto;
    }
.bigTxt {
    font-size: 22px;
    
}
#new-macro-form {
    margin-top: 5px;
}
td,th {
    border: 1px solid transparent;
    outline: 2px solid rgb(121, 121, 121);
    border-radius: 2px;
    color: white;
}
.modifiers {
    display: flex;
    justify-content: center;
}
.buffs {
    margin: 20px;
    width: 400px;
    text-align: center;
}
#buff-select {
    width: 20px;
    background-color: rgb(45, 45, 48);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 2px;
    color: white;
}
#buff-select:hover {
    border-color: var(--color-blue);
    background-color: rgba(0, 106, 176, 0.2);
}
.atr-buffs {
    appearance: none;
    background-color: rgb(45, 45, 48);
    color: #fff;
    border: none;
    padding: 2px;
    transition: .5s ease;
}
.atr-buffs:hover {
    background-color: rgba(134, 134, 148, 0.5);
}
.atr-buffs option {
    background-color: rgb(45, 45, 48);
}
.atr {
    position: relative;
    padding: 5px;
    height: 50%;
    display: none;
}
.activeTable {
    margin: 20px;
    text-align: center; 
}
#active {
    display: revert;
}
.empty {
    padding: 0px 50px;                                                          
}
#items {
    appearance: none;
    color: rgb(211, 211, 211);
    max-width: 120px;
    background: none;
    border: solid 2px var(--color-gray);
    border-radius: 2px;
    transition: 400ms;
    padding: 0px 6px;
    font-weight: 200;
}
#itens:hover {
    border: 2px solid var(--color-blue);
    background: rgba(0, 106, 176, 0.2);
    border-radius: 2px;
}
#tooltip {
    position: relative;
    cursor: default;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}
#tooltipText {
    position: absolute;
    left: -10%;
    transform: translateX(-30%) scale(.8);
    background-color: #ffffff;
    color: #000;
    white-space: nowrap;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
    padding: 0px 4px;
}
#tooltipText::before {
    content: "";
    position: absolute;
    left: 98%;
    top: 50%;
    transform: rotate(-90deg) translateX(50%) translateY(-2%);
    border: 10px solid;
    border-color: #ffffff #0000 #0000 #0000;
}
#tooltip:hover #tooltipText {
    top: 0%;
    visibility: visible;
    opacity: 1;
}
.select {
    appearance: none;
    position: relative;
    vertical-align: top;
    margin: 0px;
    padding: 6px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: 500ms;
}
.select:hover {
    border-color: lightgray;
}
.select:checked {
    background-color: #2690d6b6;
}
.add {
    appearance: none;
    position: relative;
    margin: 0px;
    padding: 0px 45%;
    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.7);
    transition: 500ms;
}
.add:hover {
    background-color: rgb(65, 65, 65);
}

.notas {
    appearance: none;
    color: white;
    font-style: italic;
    border: 15px solid #2d2d30;
    border-radius: 8px;
    width: 600px;
    background-color: var(--color-smocky-black);
    outline: 2px solid rgba(255, 255, 255, .25);
    margin-bottom: 50px;
    }
.not-working {
    background-color: #3a3a3a;
    width: min-content;
    border-radius: 20px;
    margin-bottom: 20px;
}
.low-opacity {
    opacity: .2;
    user-select: none;
}

#TrnfOver,#DstrOver {
    position: fixed;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1000;
    display: none; /* Initially hidden */
    transition: all 0.5s;
}
.hidden-scroll {
    overflow: hidden; /* Prevent scrolling */
}
#folha_esq, #folha_dir {
    position: fixed;
    height: 25vh;
    rotate: 70deg;
    top: 35%;
    left: -8%;
    opacity: 1;
    animation: folhasSpinEsq 2s;
}

#folha_dir {
    top: 500px;
    transform: rotateX(180deg);
    rotate: 110deg;
    left: 81%;
    top: 35%;
    animation: folhasSpinDir 2s;
}
#folha_meio {
    position: fixed;
    width: 250px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -40px; /* Negative half of height. */
    margin-left: -125px; /* Negative half of width. */
    animation: folhaFadeIn 2s;
}
#thorn_esq, #thorn_dir {
    margin: 0;
    position: fixed;
    top: 20%;
    left: -15%;
    height: 55vh;
    opacity: 1;
    /* transform: translate(-50%, -50%); */
    animation: thornSpinEsq 2s; 
}
#thorn_dir {left: 85%; animation: thornSpinDir 2s;}
#TRNF {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -200%);
    animation: TriunfoFade 2s;
}
@keyframes folhasSpinEsq {
    0%,20% {rotate: 140deg;opacity: 0;}
    50% {opacity: .6;}
    100% {rotate: 70deg;opacity: 1;}
}
@keyframes folhasSpinDir {
    0%,20% {rotate: 40deg; opacity: 0;}
    50% {opacity: .6;}
    100% {rotate: 110deg; opacity: 1;}
}
@keyframes folhaFadeIn {
    0%,20% {opacity: 0;transform: translateY(20px);}
    100% {opacity: 1;transform: translateY(0px);}
}
@keyframes TriunfoFade {
    0%,30% {opacity: 0;filter: blur(10px);}
    100% {filter:none; opacity: 1;}
}
/* 23123123123 */
@keyframes thornSpinEsq {
    0%,20% {rotate: 200deg;opacity: 0;}
    50% {opacity: .6;}
    100% {rotate: 360deg;opacity: 1;}
}
@keyframes thornSpinDir {
    0%,20% {rotate: 160deg;opacity: 0;}
    50% {opacity: .6;}
    100% {rotate: 0deg;opacity: 1;}
}
#circle,#redC {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    border-radius: 360px;
    filter: blur(250px);
    opacity: .8;
    background-color: green;
    animation: FadeIn2 2s;
    z-index: -1;    
}
#redC { background-color: red }
@keyframes FadeIn2 {
    0%,40% {opacity: 0;} 100%{opacity: .8;}
}