body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.dice {
    padding: 10px 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 5px;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
}



.dice.d4 {
    background-image: url('caminho-para-imagem-d4.png');
}
    .dice.d6 {
        background-image: url('caminho-para-imagem-d4.png');
    }
    .dice.d8 {
        background-image: url('caminho-para-imagem-d4.png');
    }
    .dice.d10 {
        background-image: url('caminho-para-imagem-d4.png');
    }
    .dice.d12 {
        background-image: url('Data/d12.png');
}
    .dice.d20 {
        background-image: url('caminho-para-imagem-d4.png');
    }
    .dice.d100 {
        background-image: url('caminho-para-imagem-d4.png');
    }

    .resized-image {
    width: 20%;
    display: block;
    margin: 0 auto;
    }


.result {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
